Github Device Code Flow does not work

I've followed the examples on the docs to implement the device flow for Github and I keep getting the following error: ```Parse(Error { path: Path { segments: [] }, original: Error("missing field `access_token`", line: 1, column: 208) }, [123, 34, 101, 114, 114, 111, 114, 34, 58, 34, 97, 117, 116, 104, 111, 114, 105, 122, 97, 116, 105, 111, 110, 95, 112, 101, 110, 100, 105, 110, 103, 34, 44, 34, 101, 114, 114, 111, 114, 95, 100, 101, 115, 99, 114, 105, 112, 116, 105, 111, 110, 34, 58, 34, 84, 104, 101, 32, 97, 117, 116, 104, 111, 114, 105, 122, 97, 116, 105, 111, 110, 32, 114, 101, 113, 117, 101, 115, 116, 32, 105, 115, 32, 115, 116, 105, 108, 108, 32, 112, 101, 110, 100, 105, 110, 103, 46, 34, 44, 34, 101, 114, 114, 111, 114, 95, 117, 114, 105, 34, 58, 34, 104, 116, 116, 112, 115, 58, 47, 47, 100, 111, 99, 115, 46, 103, 105, 116, 104, 117, 98, 46, 99, 111, 109, 47, 100, 101, 118, 101, 108, 111, 112, 101, 114, 115, 47, 97, 112, 112, 115, 47, 97, 117, 116, 104, 111, 114, 105, 122, 105, 110, 103, 45, 111, 97, 117, 116, 104, 45, 97, 112, 112, 115, 35, 101, 114, 114, 111, 114, 45, 99, 111, 100, 101, 115, 45, 102, 111, 114, 45, 116, 104, 101, 45, 100, 101, 118, 105, 99, 101, 45, 102, 108, 111, 119, 34, 125])```

The bytes array translate to the following json: ```{
"error":"authorization_pending","error_description":"The authorization request is still pending.","error_uri":"https://docs.github.com/developers/apps/authorizing-oauth-apps#error-codes-for-the-device-flow"}```

The polling function should have waited for the user to verify and then request the access token but it panics early. My guess is that it only waits if the status is **not** OK, but Github responds with a 200 status with the above json. Unless I have overlooked something, the function should explicitly check the response body for the "authorization_pending" error field and continues to wait if it finds it. I made a working fork and would like to make a PR to fix the issue.

The [spec](https://www.rfc-editor.org/rfc/rfc8628#section-3.5) states:
> If the user has approved the grant, the token endpoint responds with
   a success response defined in [Section 5.1 of [RFC6749]](https://www.rfc-editor.org/rfc/rfc6749#section-5.1); otherwise, it
   responds with an error, as defined in [Section 5.2 of [RFC6749]](https://www.rfc-editor.org/rfc/rfc6749#section-5.2).

The [cited portion of RFC 6749](https://www.rfc-editor.org/rfc/rfc6749#section-5.2) states:
>    The authorization server responds with an HTTP 400 (Bad Request)
   status code (unless specified otherwise) and includes the following
   parameters with the response:

Since it is not otherwise stated anywhere in relation to the `authorization_pending` error code, the spec clearly requires an HTTP 400 response, and (unfortunately, not for the first time) GitHub is not following the spec.

This crate follows the spec as much as possible, rather than aiming to interoperate with every non-compliant provider out there. I'd suggest reporting this to GitHub for a proper fix.

In the meantime, you can pass a custom HTTP client function to `request`/`request_async` that acts as a shim to convert the non-compliant 200 status to 400 before passing the response back to this crate.

Sadly, there's even a meme for this anti-pattern...
![z6mbo9dyc1x51](https://github.com/ramosbugs/oauth2-rs/assets/8505766/7c9556e4-89c2-43a7-b8ad-bae349880fa4)
