More relaxed URL encoding

I am facing the problem that I am dealing [with an OAuth server that is not fully OAuth RFC compliant](https://github.com/TykTechnologies/tyk/issues/5909) and doesn't do url-encoding of the client ID and client secret. The secret generation only includes url-safe characters and that works in almost all languages we are currently supporting. However, this library is very aggressive and even encodes otherwise url-safe characters which causes problems with the authorizer. I saw in [this old comment](https://github.com/ramosbugs/oauth2-rs/pull/46#discussion_r230607196) that you're aware of it, and I was hoping that we can adjust this, and only url-encode the characters that are reserved.

I need to correct my original issue report. After digging deeper into the specifications, I realize I made an error in my analysis. The current Implementation is actually correct.

The current `form_urlencoded::byte_serialize` behavior that encodes tilde (`~`) as `%7E` is actually compliant with the relevant standards:

1. RFC 6749 Section 2.3.1 specifies that client credentials should be encoded using the `application/x-www-form-urlencoded encoding algorithm`

> The client identifier is encoded using the "application/x-www-form-urlencoded" encoding algorithm per [Appendix B](https://datatracker.ietf.org/doc/html/rfc6749#appendix-B), and the encoded value is used as the username; the client password is encoded using the same algorithm and used as the password.  The authorization server MUST support the HTTP Basic authentication scheme for authenticating clients that were issued a client password.

2. [WHATWG URL Standard](https://url.spec.whatwg.org/#application-x-www-form-urlencoded-percent-encode-set) defines the `application/x-www-form-urlencoded percent-encode` set as 

>  The `application/x-www-form-urlencoded` percent-encode set is the component percent-encode set and U+0021 (!), U+0027 (') to U+0029 RIGHT PARENTHESIS, inclusive, and U+007E (~). The application/x-www-form-urlencoded percent-encode set contains all code points, except the ASCII alphanumeric, U+002A (*), U+002D (-), U+002E (.), and U+005F (_)"

  This means tilde (`~`) should be percent-encoded according to the WHATWG standard that RFC 6749 references.